<div class="jumbotron">
  <h1 class="display-4">Informações sobre a receita: <%= @recipe.name %></h1> <br />


<dl class="lead">
   
    <dt>
       <strong>Nome: </strong><%= @recipe.name %>
    </dt><br />
    <dd>
       <strong>Tipo da receita: </strong><%= @recipe.recipe_type %>
    </dd>
    <dd>
       <strong>Culinária: </strong><%= @recipe.cuisine %>
    </dd>
    <dd>
       <strong>Ingredientes: </strong><%= @recipe.ingredients %>
    </dd>
    <dd>
       <strong>Modo de preparo: </strong><%= @recipe.cook_method %>
    </dd>
    <dd>
       <strong>Tempo de preparo: </strong><%= @recipe.cook_time %> 
    </dd>

     
</dl>

     <%= link_to 'Editar', edit_recipe_path, class: "index-link btn btn-primary" %>
     <%= link_to 'Apagar', recipe_path, method: :delete, class: "index-link btn btn-danger", data: { confirm: 'Quer apagar essa tarefa?' } %> 
</div>
